.root {
  :global {
    .tag {
      display: inline-block;
      font-size: 12px;
      border-radius: 3px;
      padding: 4px 5px;
      margin-right: 5px;
      line-height: 12px;
    }

    .tag1 {
      color: #39becd;
      background: #e1f5f8;
    }

    .tag2 {
      color: #3fc28c;
      background: #e1f5ed;
    }

    .tag3 {
      color: #5aabfd;
      background: #e6f2ff;
    }
  }
}